body{
    margin: 0;
    padding:0 ;
}
h1{
  font-size: 25px;
  background-color: none;
  display: inline-block;
  font-family: 'Audiowide', cursive;
  margin-left: 100px;
}

#upper-head{
  background-color: #fce8d5
}
#get-a-job{
  background-color: none;
}

.head-line{
  font-family:'Merriweather', serif;
  font-size: 14px;
  margin-left: 70px;
  background-color: none;
  color: #679b9b
}
.logo{
  width: 60px;
  height: 60px;
  background-color: none;

}
.navbar{
  font-family: 'Roboto', sans-serif;
  color: white;

}
.get-Job{
  font-family: 'Fredoka One', cursive;
  font-size: 45px;
  color: #303960
}
.get-job1{
  font-size: 15px;
  font-family: 'Merriweather', serif;
  margin-left: 110px;

}
.job-category{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 2%;
  font-weight: bold;
}
.jobs{
  border-right:  4px solid #2fc4b2;
  margin-top: 35px;
}
.jobs1{
  border-right: none;
  margin-top: 35px;
}
.list-line{
  font-family: 'Roboto', sans-serif;
  padding: 2.5%;
}

/* section two */
#section-two{
  margin: 3% 2%;
}
.three-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}
.section-two-grid{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}
.section-two-div{
  border-right:4px solid #dd7631;
}
.section-two-div1{
  border-right: none
}
.viewmore{
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 170px;
}
.fab{
  color:#000;
  padding: 10px;
}
.fab:hover{
  color: #fff;

}
#section3{
  background-color: #1b6ca8;
  text-align: center;
}
.head-footer{
  margin-top: 20px;
  font-weight:bold;
}
.footer-site{
  font-family: 'Roboto', sans-serif;
}
